<h2>Articles</h2>
<% @articles.each do |article| %>
  <h3>Title: <%= link_to article.title, article_path(article) %></h3>
  <p>Content: <%= article.content %></p>
<% end %>
<%= link_to "Add a new article", new_article_path %>
